<div *ngFor="#type of ['brick', 'wood', 'sheep', 'wheat', 'stone']" class="resource {{type}}"> <!-- TODO: try using this.resources and #index -->
    <button [disabled]="resources[type]<=0" (click)="removeResource(type)">{{resources[type]}}</button>

    <button *ngIf="balanceType==='POSITIVE'" (click)="addResource(type)"><span class="glyphicon glyphicon-plus"></span></button>
    <button *ngIf="balanceType==='BOTH'" class="plus" (click)="addResource(type)"><span class="glyphicon glyphicon-plus"></span></button>
    <button *ngIf="balanceType==='BOTH'" class="minus" (click)="removeResource(type)"><span class="glyphicon glyphicon-minus"></span></button>
    <button *ngIf="balanceType==='NEGATIVE'" (click)="removeResource(type)"><span class="glyphicon glyphicon-minus"></span></button>

    <button [disabled]="resources[type]>=0" (click)="addResource(type)">{{-resources[type]}}</button>
</div>

<button (click)="cancel()" class="btn btn-default cancel">Cancel</button>
<button (click)="ok()" [disabled]="okDisabled()" class="btn btn-primary ok">OK</button>