ct-choose-resources-embed {

}

ct-choose-resources-embed .resource {
    display: block;
    float: left;
    background: #f5f5f5;
    color: #68a;
    border: none;
    font-size: 15px;
    width: 66px;
    height: 162px;
    margin: 20px 0 0 15px;
    padding: 5px;
    border-radius: 10px;
}

ct-choose-resources-embed .resource > button {
    display: block;
    border-radius: 40px;
    border: 3px solid #f5f5f5;
    width: 40px;
    height: 40px;
    background: #fff;
    margin: 8px;
    padding: 0;
    color: #fff;
}

ct-choose-resources-embed .resource > button.plus {
    border-radius: 40px 40px 0 0;
    height: 20px;
    border-width: 1px;
    margin-bottom: 0;
}

ct-choose-resources-embed .resource > button.minus {
    border-radius: 0 0 40px 40px;
    height: 20px;
    border-width: 1px;
    margin-top: 0;
}

ct-choose-resources-embed .resource > button:hover {
    border-color: #ccc;
}

ct-choose-resources-embed .resource > button[disabled] {
    visibility: hidden;
}

ct-choose-resources-embed .btn.cancel {
    position: absolute;
    bottom: 15px;
    left: 17px;
}

ct-choose-resources-embed .btn.ok {
    position: absolute;
    bottom: 15px;
    right: 17px;
}

ct-choose-resources-embed .brick button {
    background-color: #e16a17;
}

ct-choose-resources-embed .wood button {
    background-color: #40b22f;
}

ct-choose-resources-embed .sheep button {
    background-color: #4bec38;
}

ct-choose-resources-embed .wheat button {
    background-color: #ecd320;
}

ct-choose-resources-embed .stone button {
    background-color: #8e6f36;
}