<div>
    <div *ngIf="!games">Loading...</div>

    <div *ngIf="games&&games.length===0">no games</div>

    <table *ngIf="games&&games.length" class="table table-condensed table-striped">
        <tr *ngFor="#game of games">
            <td>#{{game.getId()}}</td>
            <td style="font-size: 1.2rem; line-height: 2.4rem;">User #{{game.creatorId}}</td>
            <td style="font-size: 1.2rem; line-height: 2.4rem; white-space: nowrap">
                <span *ngIf="game.privateGame"><span class="glyphicon glyphicon-eye-open"></span> {{game.privateCode}}</span>
                <span *ngIf="!game.privateGame"><span class="glyphicon glyphicon-globe"></span> Public</span>
            </td>
            <td style="font-size: 1.2rem; line-height: 2.4rem;">{{game.dateCreated | date : 'shortTime'}}</td>
            <td><span class="label label-warning">{{game.status}}</span></td>
            <td>
                <ct-players-list [game]="game"></ct-players-list>
            </td>
            <td>
                <a *ngIf="typeOfGames==='CURRENT'" [routerLink]="['GamePage', {gameId: game.getId()}]" class="btn btn-xs btn-default">Resume</a>
                <a *ngIf="typeOfGames==='PUBLIC'" ct-join-public-game-button [game]="game" class="btn btn-xs btn-default">Join</a>
            </td>
        </tr>
    </table>

</div>