<form>

    <label>
        <input type="checkbox" ng-model="data.privateGame">
        &nbsp;Is Private
    </label>

    <br><br>

    <div class="row">
        <div class="col-xs-4">Target Victory Points:</div>
        <div class="col-xs-2"><input type="text" ng-model="data.targetVictoryPoints" class="form-control"></div>
    </div>

    <br>

    <div class="row">
        <div class="col-xs-4">Initial Set of Buildings:</div>
        <div class="col-xs-6">
            <select
                    ng-model="data.initialBuildingsSet"
                    ng-options="item.value as item.name for item in initialBuildingsSetValues"
                    class="form-control">
            </select>
        </div>
    </div>

    <hr>
    <br><br><br>
    <input type="submit" ng-click="submit()" value="Create" class="btn btn-primary btn-lg pull-right">
</form>