ct-register-form > form {
    background: #f6f6f6;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
}

ct-register-form input[type=text],
ct-register-form input[type=password] {
    margin-bottom: 6px;
}