<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}.%M:%L - %m%n%ex"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="org.apache.log4j.xml" level="INFO"/>
        <Logger name="org.hibernate" level="DEBUG"/>
        <Logger name="org.hibernate.SQL" level="DEBUG"/>
        <Logger name="org.hibernate.type.descriptor.sql" level="DEBUG"/>
        <Logger name="org.hibernate.tool.hbm2ddl" level="DEBUG"/>
        <Logger name="org.hibernate.pretty" level="DEBUG"/>
        <Logger name="org.hibernate.cache" level="DEBUG"/>
        <Logger name="org.hibernate.hql.internal.ast.AST" level="DEBUG"/>
        <Logger name="org.springframework" level="INFO"/>
        <logger name="org.springframework.boot.context.web.ErrorPageFilter" level="OFF" />

        <logger name="catan.config.RequestResponseLogger" level="OFF" />
        <logger name="catan.services.AuthenticationService" level="OFF" />
        <logger name="catan.services.GameService" level="INFO" />

        <Root level="DEBUG">
            <AppenderRef ref="STDOUT"/>
        </Root>
    </Loggers>
</Configuration>