ct-trade-port-panel {

}

ct-trade-port-panel .ratio {
    padding-top: 15px;
}

ct-trade-port-panel .ratio > span {
    display: inline-block;
    text-align: center;
    width: 65px;
    margin-left: 13px;
}