ct-game-map-overview .canvas {
    position: relative;
}

ct-game-map-overview .canvas .hex {
    position: absolute;
    border-radius: 4px;
}

ct-game-map-overview .canvas .hex > .coords {
    position: absolute;
}

ct-game-map-overview .canvas .hex > .dice {
    position: absolute;
    text-align: center;
}

ct-game-map-overview .canvas .node {
    position: absolute;
    border-radius: 10px;
}

ct-game-map-overview .canvas .node span {
    transform: rotate(60deg);
    font-size: 9px;
    line-height: 9px;
    position: absolute;
    top: 1px;
    left: 1px;
    color: #fff;
}

ct-game-map-overview .canvas .brick {
    background-color: #e16a17;
}

ct-game-map-overview .canvas .wood {
    background-color: #40b22f;
}

ct-game-map-overview .canvas .sheep {
    background-color: #4bec38;
}

ct-game-map-overview .canvas .wheat {
    background-color: #ecd320;
}

ct-game-map-overview .canvas .stone {
    background-color: #8e6f36;
}

ct-game-map-overview .canvas .empty {
    background-color: #cbd771;
}

ct-game-map-overview .canvas .any {
    background-color: #cbd771;
}