<ct-modal-window [modalWindowId]="'BUY_PANEL'">

    <div class="ct-modal-window-bg" ct-modal-window-close [modalWindowId]="'BUY_PANEL'"></div>
    <div class="ct-modal-window-content content">

        <button (click)="buildSettlement()" [disabled]="!isActionEnabled('BUILD_SETTLEMENT')">
            <span class="glyphicon glyphicon-compressed"></span><br>
            Settlement
        </button>

        <button (click)="buildRoad()" [disabled]="!isActionEnabled('BUILD_ROAD')">
            <span class="glyphicon glyphicon-road"></span><br>
            Road
        </button>

        <br>

        <button (click)="buildCity()" [disabled]="!isActionEnabled('BUILD_CITY')">
            <span class="glyphicon glyphicon-calendar"></span><br>
            City
        </button>

        <br>

        <button (click)="buyCard()" [disabled]="!isActionEnabled('BUY_CARD')">
            <span class="glyphicon glyphicon-credit-card"></span><br>
            Card
        </button>

    </div>

</ct-modal-window>