/* TODO: bug, city can't be marked (when choose player to rob) */

ct-game-map svg {
    position: absolute;
    width: 100%;
    height: 100%;
}

ct-game-map .hex.highlighted .hex-background {
    animation: blinking 1s linear infinite;
}
/*@keyframes blinking { 50% { fill-opacity: 0.5; }, 100% { fill-opacity: 1; } }*/


ct-game-map [resource-type="brick"] {
    fill: #43a8d9;
}

ct-game-map [resource-type="wood"] {
    fill: #d5c867;
}

ct-game-map [resource-type="sheep"] {
    fill: #48da83;
}

ct-game-map [resource-type="wheat"] {
    fill: #a187aa;
}

ct-game-map [resource-type="stone"] {
    fill: #f69f7e;
}

ct-game-map [resource-type="empty"],
ct-game-map [resource-type="any"] {
    fill: #ccc;
}

ct-game-map [player-color="1"] {
    fill: #f50;
}

ct-game-map [player-color="2"] {
    fill: #55f;
}

ct-game-map [player-color="3"] {
    fill: #dc0;
}

ct-game-map [player-color="4"] {
    fill: #0f5;
}

ct-game-map .hex {

}

ct-game-map .hex[marked] {
    cursor: pointer;
    fill-opacity: 0.6;
}

ct-game-map .hex[marked]:hover {
    stroke: #000;
    stroke-width: 1;
    fill-opacity: 1;
}

ct-game-map .node {

}

ct-game-map .node .blank-node {
    visibility: hidden;
    stroke: #000;
    stroke-width: 1;
    cursor: pointer;
}

ct-game-map .node[marked] .blank-node {
    visibility: visible;
    fill-opacity: 0.6;
    stroke-opacity: 0.1;
}

ct-game-map .node[marked]:hover .blank-node {
    stroke-opacity: 1;
}

ct-game-map .node[marked] .settlement {
    visibility: visible;
    fill-opacity: 0.6;
    stroke-opacity: 0.1;
}

ct-game-map .node[marked]:hover .settlement {
    stroke-opacity: 1;
    cursor: pointer;
}

ct-game-map .node[marked]:hover text {
    cursor: pointer;
}

ct-game-map .node[marked]:hover .settlement circle {
    stroke-width: 2;
}

ct-game-map .node .settlement circle {
    stroke: #000;
    stroke-width: 1;
}

ct-game-map .node .city circle {
    stroke: #000;
    stroke-width: 2;
}

ct-game-map .edge {
    stroke: #000;
    stroke-width: 1;
}

ct-game-map .edge .blank-edge {
    visibility: hidden;
    cursor: pointer;
}

ct-game-map .edge[marked] .blank-edge {
    visibility: visible;
    fill-opacity: 0.6;
    stroke-opacity: 0.1;
}

ct-game-map .edge[marked]:hover .blank-edge {
    stroke-opacity: 1;
}