<div class="out-of-game">

    <div ng-if="User.isPending()" style="font-size: 2rem; color: lightgrey;" class="row">loading...</div>

    <div ng-if="User.isAuthorized()" style="font-size: 2rem;" class="row">

    <span class="col-xs-12">

        <div class="pull-right">
            <a href="" class="btn btn-lg btn-default disabled">Settings / Profile</a>
            &nbsp;
            <a href="" ct-logout-button class="btn btn-lg btn-default">Log Out</a>
        </div>

        <div style="padding-top: 10px;">
            &nbsp;
            <i class="glyphicon glyphicon-user"></i>
            &nbsp;
            {{::User.get().username}}
        </div>

    </span>

    </div>


    <div ng-if="User.isNotAuthorized()" class="row">
    <span class="col-xs-5">
        <a ui-sref="login" class="btn btn-default btn-block btn-lg">Log In</a>
    </span>
    <span class="col-xs-4">
        <a href="" class="btn btn-default btn-block btn-lg disabled">Login using FB</a>
    </span>
    <span class="col-xs-3">
        <a ui-sref="register" class="btn btn-default btn-block btn-lg">Sign Up</a>
    </span>
    </div>


    <div style="padding-top: 100px;" class="row">
    <span class="col-xs-4" ng-class="{'col-xs-offset-2': !User.isAuthorized()}">
        <a ui-sref="createGame" class="btn btn-default btn-lg btn-block btn-sq">New Game</a>
    </span>
    <span class="col-xs-4" ng-if="User.isAuthorized()" >
        <a ui-sref="continueGame" class="btn btn-default btn-lg btn-block btn-sq">Continue</a>
    </span>
    <span class="col-xs-4">
        <a ui-sref="joinGame" class="btn btn-default btn-lg btn-block btn-sq">Join Game</a>
    </span>
    </div>

</div>