<form>

    <div class="row">
        <span class="col-xs-9">

            <input ng-model="data.username" placeholder="Username" type="text" class="form-control input-lg">

            <br>

            <input ng-model="data.password" placeholder="Password" type="password" class="form-control input-lg">

        </span>
        <span class="col-xs-3">

            <input type="submit" ng-click="submit()" value="Log In" class="btn btn-primary btn-lg btn-block">

        </span>
    </div>

</form>