<br><br>

<div>


    <div class="col-xs-6 col-xs-offset-1" style="background: #f6f6f6; min-height: 300px; padding: 40px; font-size: 3rem; color: #ddd; border-radius: 3px;">


        <ct-create-game-form ng-if="User.isAuthorized()"></ct-create-game-form>

        <ct-join-private-game-form ng-if="User.isAuthorized()"></ct-join-private-game-form>

        <ct-current-games-list ng-if="User.isAuthorized()"></ct-current-games-list>

        <ct-public-games-list></ct-public-games-list>

    </div>


    <div class="col-xs-4 col-xs-offset-1">

        <div style="font-size: 2rem;">

            <div ng-if="User.isAuthorized()">
                <i class="glyphicon glyphicon-user"></i>
                &nbsp;
                {{User.get().username}}

                <br>
                <a href="" ct-logout-button class="btn btn-xs btn-default">Log Out</a>
            </div>

            <div ng-if="!User.isAuthorized()">
                <i class="glyphicon glyphicon-user" style="color: lightgrey;"></i>
                &nbsp;
                <span ng-if="User.isGuest()" style="color: grey;">not authorized</span>
                <span ng-if="User.isPending()" style="color: lightgrey;">loading...</span>

                <br>

            <span ng-if="!User.isPending()">
                <a href="" ng-click="display.loginForm=!display.loginForm;display.signUpForm=false" class="btn btn-xs btn-default">Log In</a>
                <a href="" ng-click="display.signUpForm=!display.signUpForm;display.loginForm=false" class="btn btn-xs btn-default">Sign up</a>
            </span>
            </div>

        </div>

        <div><br></div>

        <div ng-if="User.isGuest()" class="col-xs-8">
            <ct-login-form ng-show="display.loginForm"></ct-login-form>
            <ct-register-form ng-show="display.signUpForm"></ct-register-form>
        </>

    </div>
</div>