svg {
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}

svg > g {
    pointer-events: all;
}

.top-visible {
    visibility: hidden;
}

.top .top-visible {
    visibility: visible;
}

.top .value {
    fill: #f66;
}