<button ng-click="throwDice()" ng-disabled="!game.isActionEnabledForCurrentUser('THROW_DICE')">
    <span class="glyphicon glyphicon-th-large"></span><br>
    Throw
</button>

<button ng-click="build()" ng-disabled="!game.isActionGroupEnabledForCurrentUser('BUILD')">
    <span class="glyphicon glyphicon-shopping-cart"></span><br>
    Buy
</button>

<button ng-click="showCards()">
    <span class="glyphicon glyphicon glyphicon-credit-card"></span><br>
    Cards
</button>

<button ng-click="moveRobber()" ng-disabled="!game.isActionEnabledForCurrentUser('MOVE_ROBBER')" ng-show="game.isActionEnabledForCurrentUser('MOVE_ROBBER')">
    <span class="glyphicon glyphicon-fire"></span><br>
    Move rob
</button>

<button ng-click="endTurn()" ng-disabled="!game.isActionEnabledForCurrentUser('END_TURN')">
    <span class="glyphicon glyphicon-hourglass"></span><br>
    End turn
</button>