.content {
    top: 20%;
    left: 17%;
    width: 66%;
    height: 52%;
    background: #fff;
    text-align: center;
}

.btn.decline {
    position: absolute;
    bottom: 15px;
    left: 17px;
}

.btn.accept,
.no-longer-active {
    position: absolute;
    bottom: 15px;
    right: 17px;
}

.no-longer-active {
    padding: 7px;
    color: #d55;
}

.title {
    padding: 20px 0 10px;
}

.title > span {
    font-weight: bold;
}

.proposition {
    display: inline-block;
    text-align: left;
}

.proposition > div {
    padding-top: 20px;
}

.proposition > div > div {
    display: inline-block;
    width: 110px;
    padding-left: 10px;
}

.proposition > div > div > .give {
    color: #c63;
}

.proposition > div > div > .get {
    color: #6c9;
}

.proposition > div > span {
    display: inline-block;
    border-left: 20px solid #ccc;
    padding-left: 5px;
    width: 48px;
}

.proposition > div > span.brick {
    border-left-color: #43a8d9;
}

.proposition > div > span.wood {
    border-left-color: #d5c867;
}

.proposition > div > span.sheep {
    border-left-color: #48da83;
}

.proposition > div > span.wheat {
    border-left-color: #a187aa;
}

.proposition > div > span.stone {
    border-left-color: #f69f7e;
}