ct-resources-panel {
    position: absolute;
    top: 40px;
    right: 0;
}

ct-resources-panel .resource {
    width: 52px;
    height: 54px;
    padding: 3px 5px;
    margin-bottom: 2px;
}

ct-resources-panel .resource.brick {
    background-color: #e16a17;
}

ct-resources-panel .resource.wood {
    background-color: #40b22f;
}

ct-resources-panel .resource.sheep {
    background-color: #4bec38;
}

ct-resources-panel .resource.wheat {
    background-color: #ecd320;
}

ct-resources-panel .resource.stone {
    background-color: #8e6f36;
}

ct-resources-panel .resource span {
    font-size: 22px;
    color: #fff;
}
