<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss:,SSS} [%-5p] [%t] %c{1}.%M:%L - %m%n%ex"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="org.apache.log4j.xml" level="INFO"/>
        <Logger name="org.apache.http" level="INFO"/>
        <Logger name="com.jayway" level="INFO"/>
        <Logger name="org.hibernate" level="INFO"/>
        <Logger name="org.hibernate.SQL" level="INFO"/>
        <Logger name="org.hibernate.type.descriptor.sql" level="INFO"/>
        <Logger name="org.hibernate.tool.hbm2ddl" level="INFO"/>
        <Logger name="org.hibernate.pretty" level="INFO"/>
        <Logger name="org.hibernate.cache" level="INFO"/>
        <Logger name="org.hibernate.hql.internal.ast.AST" level="INFO"/>
        <Logger name="org.springframework" level="INFO"/>
        <logger name="org.springframework.boot.context.web.ErrorPageFilter" level="OFF" />

        <logger name="catan.config.RequestResponseLogger" level="DEBUG" />
        <logger name="catan.services.AuthenticationService" level="DEBUG" />
        <logger name="catan.services.GameService" level="DEBUG" />

        <Root level="DEBUG">
            <AppenderRef ref="STDOUT"/>
        </Root>
    </Loggers>
</Configuration>