ct-players-panel {
    position: absolute;
    top: 40px;
    left: 0;
}

ct-players-panel .player {
    width: 86px;
    height: 54px;
    padding: 2px 3px;
    margin-bottom: 2px;
    color: #fff;
}

ct-players-panel .player.active {
    width: 105px;
    height: 62px;
}

ct-players-panel .player.color-1 {
    background: #f50;
}

ct-players-panel .player.color-2 {
    background: #55f;
}

ct-players-panel .player.color-3 {
    background: #dc0;
}

ct-players-panel .player.color-4 {
    background: #0f5;
}

ct-players-panel .player .name {
    font-size: 13px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

ct-players-panel .player .avatar {
    font-size: 16px;
    line-height: 16px;
    color: #000;
    opacity: 0.5;
}

ct-players-panel .player.active .avatar {
    font-size: 22px;
    line-height: 22px;
}

ct-players-panel .player .victory-points {
    font-size: 12px;

}

ct-players-panel .player .achievements {
    padding-top: 1px;
    float: right;
    width: 26px;
    font-size: 10px;
    line-height: 11px;
}

ct-players-panel .player.active .achievements {
    padding-top: 4px;
}