<form ng-submit="reviewCtrl.addReview(game)">
    <!--  Review details preview -->
    <blockquote>
        <b>{{reviewCtrl.review.stars}} {{(reviewCtrl.review.stars != null && reviewCtrl.review.stars != undefined && reviewCtrl.review.stars > 0) ? "Stars" : ""}} </b><br><br>
        {{reviewCtrl.review.text}}
        <br><i>{{(reviewCtrl.review.author != null && reviewCtrl.review.author != undefined) ? "by: " : ""}} {{reviewCtrl.review.author}} </i>
    </blockquote>

    <!--  Review Form -->
    <h4>Submit a Review</h4>
    <fieldset class="form-group">
        <select class="form-control" ng-options="stars for stars in [5,4,3,2,1]"  title="Stars" ng-model="reviewCtrl.review.stars">
            <option value="">Rate the Product</option>
        </select>
    </fieldset>
    <fieldset class="form-group">
        <textarea class="form-control" placeholder="Write a short review of the product..." title="Review"  ng-model="reviewCtrl.review.text"></textarea>
    </fieldset>
    <fieldset class="form-group">
        <input class="form-control" placeholder="jimmyDean@example.org" title="Email" ng-model="reviewCtrl.review.author"/>
    </fieldset>
    <fieldset class="form-group">
        <input type="submit" class="btn btn-primary pull-right" value="Submit Review" />
    </fieldset>
</form>