<div class="out-of-game">

    <h1>Enter your name</h1>

    <hr>

    <ct-register-guest-form [onRegister]="formOnRegister"></ct-register-guest-form>

    <div class="row">
    <span class="col-xs-3 col-xs-offset-9" style="padding-top: 102px;">
        <a (click)="login()" class="btn btn-default btn-block btn-lg">Log In</a>
        <a class="btn btn-default btn-block btn-xs disabled">Login using FB</a>
        <a (click)="registerRegularUser()" class="btn btn-default btn-block btn-lg">Sign Up</a>
    </span>
    </div>

    <a (click)="goBack()" class="btn btn-default btn-back">Back</a>

</div>