<ct-game-map [game]="game"></ct-game-map>

<ct-resources-panel [game]="game"></ct-resources-panel>

<ct-players-panel [game]="game"></ct-players-panel>

<ct-actions-panel [game]="game"></ct-actions-panel>

<ct-buy-panel [game]="game"></ct-buy-panel>

<ct-cards-panel [game]="game"></ct-cards-panel>

<ct-dice [game]="game"></ct-dice>

<ct-trade-panel [game]="game"></ct-trade-panel>

<ct-trade-reply-panel [game]="game"></ct-trade-reply-panel>

<ct-kick-off-resources-panel [game]="game"></ct-kick-off-resources-panel>

<ct-card-year-of-plenty-choose-resources-panel [game]="game"></ct-card-year-of-plenty-choose-resources-panel>

<ct-card-monopoly-choose-resource-panel [game]="game"></ct-card-monopoly-choose-resource-panel>