ct-create-game-form > form {
     border: 1px solid #ccc;
     padding: 10px;
     margin-bottom: 50px;
     border-radius: 3px;
     font-size: 1.8rem;
     color: #444;
 }

ct-create-game-form label {
    display: inline-block;
    margin-bottom: 6px;
    font-size: 1.8rem;
}