<svg width="100%" height="100%" preserveAspectRatio="xMaxYMax meet" viewBox="0 0 172 720">

    <defs>
        <filter id="dropshadow-dice">
            <feGaussianBlur in="SourceAlpha" stdDeviation="4"/>
            <feComponentTransfer>
                <feFuncA type="linear" slope="0.15"/>
            </feComponentTransfer>
            <feMerge>
                <feMergeNode/>
                <feMergeNode in="SourceGraphic"/>
            </feMerge>
        </filter>
    </defs>

    <!-- TODO: duplicate for 2 dices -->

    <g *ngIf="game.dice?.thrown" transform="translate(0, 634)">

        <g transform="translate(10, 0)">
            <rect x="0" y="0" rx="7" ry="7" width="60" height="60" fill="#fff" filter="url(#dropshadow-dice)" />

            <g [ngSwitch]="game.dice.first" fill="#4b4b4b">
                <g *ngSwitchWhen="1">
                    <circle r="6.5" cx="30" cy="30" />
                </g>
                <g *ngSwitchWhen="2">
                    <circle r="6.5" cx="47" cy="13" />
                    <circle r="6.5" cx="13" cy="47" />
                </g>
                <g *ngSwitchWhen="3">
                    <circle r="6.5" cx="47" cy="13" />
                    <circle r="6.5" cx="30" cy="30" />
                    <circle r="6.5" cx="13" cy="47" />
                </g>
                <g *ngSwitchWhen="4">
                    <circle r="6.5" cx="47" cy="13" />
                    <circle r="6.5" cx="13" cy="47" />
                    <circle r="6.5" cx="13" cy="13" />
                    <circle r="6.5" cx="47" cy="47" />
                </g>
                <g *ngSwitchWhen="5">
                    <circle r="6.5" cx="47" cy="13" />
                    <circle r="6.5" cx="13" cy="47" />
                    <circle r="6.5" cx="30" cy="30" />
                    <circle r="6.5" cx="13" cy="13" />
                    <circle r="6.5" cx="47" cy="47" />
                </g>
                <g *ngSwitchWhen="6">
                    <circle r="6.5" cx="47" cy="13" />
                    <circle r="6.5" cx="13" cy="47" />
                    <circle r="6.5" cx="13" cy="13" />
                    <circle r="6.5" cx="47" cy="47" />
                    <circle r="6.5" cx="30" cy="13" />
                    <circle r="6.5" cx="30" cy="47" />
                </g>
            </g>
        </g>


        <g transform="translate(88, 0)">
            <rect x="0" y="0" rx="7" ry="7" width="60" height="60" fill="#fff" filter="url(#dropshadow-dice)" />

            <g [ngSwitch]="game.dice.second" fill="#4b4b4b">
                <g *ngSwitchWhen="1">
                    <circle r="6.5" cx="30" cy="30" />
                </g>
                <g *ngSwitchWhen="2">
                    <circle r="6.5" cx="47" cy="13" />
                    <circle r="6.5" cx="13" cy="47" />
                </g>
                <g *ngSwitchWhen="3">
                    <circle r="6.5" cx="47" cy="13" />
                    <circle r="6.5" cx="30" cy="30" />
                    <circle r="6.5" cx="13" cy="47" />
                </g>
                <g *ngSwitchWhen="4">
                    <circle r="6.5" cx="47" cy="13" />
                    <circle r="6.5" cx="13" cy="47" />
                    <circle r="6.5" cx="13" cy="13" />
                    <circle r="6.5" cx="47" cy="47" />
                </g>
                <g *ngSwitchWhen="5">
                    <circle r="6.5" cx="47" cy="13" />
                    <circle r="6.5" cx="13" cy="47" />
                    <circle r="6.5" cx="30" cy="30" />
                    <circle r="6.5" cx="13" cy="13" />
                    <circle r="6.5" cx="47" cy="47" />
                </g>
                <g *ngSwitchWhen="6">
                    <circle r="6.5" cx="47" cy="13" />
                    <circle r="6.5" cx="13" cy="47" />
                    <circle r="6.5" cx="13" cy="13" />
                    <circle r="6.5" cx="47" cy="47" />
                    <circle r="6.5" cx="30" cy="13" />
                    <circle r="6.5" cx="30" cy="47" />
                </g>
            </g>
        </g>

    </g>

</svg>