ct-game-map svg {
    position: absolute;
    width: 100%;
    height: 100%;
}

ct-game-map .hex.highlighted .hex-background {
    animation: blinking 1s linear infinite;
}
@keyframes blinking { 50% { fill-opacity: 0.5; }, 100% { fill-opacity: 1; } }


ct-game-map [resource-type="brick"] {
    fill: #e16a17;
}

ct-game-map [resource-type="wood"] {
    fill: #40b22f;
}

ct-game-map [resource-type="sheep"] {
    fill: #4bec38;
}

ct-game-map [resource-type="wheat"] {
    fill: #ecd320;
}

ct-game-map [resource-type="stone"] {
    fill: #8e6f36;
}

ct-game-map [resource-type="empty"],
ct-game-map [resource-type="any"] {
    fill: #cbd771;
}

ct-game-map [player-color="1"] {
    fill: #f50;
}

ct-game-map [player-color="2"] {
    fill: #55f;
}

ct-game-map [player-color="3"] {
    fill: #dc0;
}

ct-game-map [player-color="4"] {
    fill: #0f5;
}

ct-game-map .hex {
    cursor: pointer;
}

ct-game-map .node {
    cursor: pointer;
}

ct-game-map .node .blank-node {
    fill: #fff;
    stroke: #000;
    stroke-width: 1;
    visibility: hidden;
    pointer-events: all;
}

ct-game-map .node:hover .blank-node {
    visibility: visible;
}

ct-game-map .node .settlement circle {
    stroke: #000;
    stroke-width: 1;
}

ct-game-map .node .city circle {
    stroke: #000;
    stroke-width: 2;
}

ct-game-map .edge {
    cursor: pointer;
}

ct-game-map .edge .blank-edge {
    fill: #fff;
    stroke: #000;
    stroke-width: 1;
    visibility: hidden;
    pointer-events: all;
}

ct-game-map .edge:hover .blank-edge {
    visibility: visible;
}

ct-game-map .edge .road rect {
    stroke: #000;
    stroke-width: 1;
}