<!-- Before dice is thrown -->
<div *ngIf="isActionEnabled('THROW_DICE')">

    <button (click)="throwDice()">
        <span class="glyphicon glyphicon-th-large"></span><br>
        Throw
    </button>

    <button (click)="showCards()" [disabled]="!isActionEnabled('USE_CARD_KNIGHT')">
        <span class="glyphicon glyphicon glyphicon-credit-card"></span><br>
        Cards
    </button>

</div>

<!-- After dice is thrown -->
<div *ngIf="isActionEnabled('END_TURN') && !isExecuting('END_TURN')">

    <button (click)="build()">
        <span class="glyphicon glyphicon-shopping-cart"></span><br>
        Buy
    </button>

    <button (click)="showCards()">
        <span class="glyphicon glyphicon glyphicon-credit-card"></span><br>
        Cards
    </button>

    <button (click)="showTradePanel()">
        <span class="glyphicon glyphicon-retweet"></span><br>
        Trade
    </button>

    <button (click)="endTurn()">
        <span class="glyphicon glyphicon-hourglass"></span><br>
        End turn
    </button>

</div>


<button (click)="showTradeReplyPanel()" *ngIf="isActionEnabled('TRADE_REPLY') && !isTradeReplyPanelVisible()">
    <span class="glyphicon glyphicon-retweet"></span><br>
    Reply
</button>

<button (click)="kickOffResources()" *ngIf="isActionEnabled('KICK_OFF_RESOURCES') && !isExecuting('KICK_OFF_RESOURCES')">
    <span class="glyphicon glyphicon-download-alt"></span><br>
    Kick res
</button>