svg {
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}

svg .button-bg {
    pointer-events: all;
    cursor: pointer;
    fill: url(#grad-action-button-bottom);
}

svg .button-bottom-bg {
    fill: url(#grad-action-button-top);
}

svg .disabled .button-bg {
    fill: url(#grad-action-button-bottom-disabled);
}

svg .disabled .button-bottom-bg {
    fill: url(#grad-action-button-top-disabled);
}

/*
:host {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 45px;
    width: 100%;
    text-align: center;
}

button {
    background-color: #999;
    color: #fff;
    border: none;
    padding-top: 4px;
    font-size: 11px;
    width: 60px;
    height: 45px;
}

button:hover {
    background-color: #777;
    color: #fff;
}

button[disabled] {
    background-color: #999;
    color: #fff;
    opacity: 0.5;
}

button span {
    font-size: 21px;
}
*/