<h1>Enter your name</h1>

<hr>

<ct-register-guest-form></ct-register-guest-form>

<div class="row">
    <span class="col-xs-3 col-xs-offset-9" style="padding-top: 102px;">
        <a href="" ng-click="login()" class="btn btn-default btn-block btn-lg">Log In</a>
        <a href="" class="btn btn-default btn-block btn-xs disabled">Login using FB</a>
        <a href="" ng-click="registerRegularUser()" class="btn btn-default btn-block btn-lg">Sign Up</a>
    </span>
</div>

<a ct-back-button class="btn btn-default btn-back">Back</a>